{% extends 'menu/base.html' %}

{% load static %}

{% block title %}Accueil{% endblock %}

{% block content %}

<!-- menu -->
{% include 'menu/navbar.html' %}

<!-- fin menu -->
<br><br><br><br>
<!-- main -->

<main class="layout layout--3">
  <div class="container">

    <!-- Topics Start -->
    
    <div class="topics">
      <div class="topics__header">
          <h3 class="text-dark">Parcourir vos sujects</h3>
      </div>
      <ul class="topics__list">
          <li>
              <a href="{% url 'accueil' %}" class="active">Sujects <span>{{suject.count}}</span></a>
          </li>
         {% for suj in suject %}
          <li>
            <a href="{% url 'accueil' %}?q={{suj.noms_suj}}">{{suj.noms_suj}}<span>{{suj.document_set.all.count}}</span></a>
          </li>
          {% endfor %}
  
      </ul>
      <a class="btn btn--link" href="{% url 'suject' %}">
          Voir plus
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
              <title>voir plus</title>
              <path d="M16 21l-13-13h-3l16 16 16-16h-3l-13 13z"></path>
          </svg>
      </a>
      <hr>

     
   

   
  </div>
  
    <!-- Topics End -->

    <!-- Room List Start -->
    <div class="roomList">
      <div class="mobile-menu">
        <form action="" method="GET" class="header__search">
          <label>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
              <title>search</title>
              <path
                d="M32 30.586l-10.845-10.845c1.771-2.092 2.845-4.791 2.845-7.741 0-6.617-5.383-12-12-12s-12 5.383-12 12c0 6.617 5.383 12 12 12 2.949 0 5.649-1.074 7.741-2.845l10.845 10.845 1.414-1.414zM12 22c-5.514 0-10-4.486-10-10s4.486-10 10-10c5.514 0 10 4.486 10 10s-4.486 10-10 10z">
              </path>
            </svg>
            <input name="q" placeholder="document"  />
          </label>
        </form>
        <div class="mobile-menuItems">
          <a class="btn btn--main btn--pill" href="{% url 'suject' %}">Sujects</a>
          <a class="btn btn--main btn--pill" href="{% url 'activite' %}">Activites Recents</a>
          <a class="btn btn--main btn--pill" href="">Group</a>
          <a class="btn btn--main btn--pill" href="">Mes groups</a>
        </div>
      </div>

      <div class="roomList__header">
        <div>
          <h2>Salles d'etude</h2>
          {% if document_count == 0 %}
          <p class="text-dark">{{document_count}} document disponible</p>
          {% elif document_count == 1 %}
          <p class="text-dark">{{document_count}} document disponible</p>
          {% else %}
          <p class="text-dark">{{document_count}} documents disponibles</p>
          {% endif %}
        </div>

        <a class="btn btn--main" href="{% url 'creer-document' %}">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
            <title>creer un document</title>
            <path
              d="M16.943 0.943h-1.885v14.115h-14.115v1.885h14.115v14.115h1.885v-14.115h14.115v-1.885h-14.115v-14.115z">
            </path>
          </svg>
          Creer un document
        </a>
      </div>
      <!-- feed-comportement -->
      {% include 'menu/feed.html' %}
      
      <!-- fin feed-comportement -->

    </div>
    <!-- Room List End -->

    <!-- Activities Start -->

    
    
    <div class="activities">
      <div class="activities__header">
          <h2>Activites Recents</h2>
      </div>
      <!-- messages-->
      {% for mes in message %}
      <div class="activities__box">
          <div class="activities__boxHeader roomListRoom__header">
              <a href="{% url 'profile' mes.user.id %}" class="roomListRoom__author">
                  <div class="avatar avatar--small">
                      <!-- image profile-->
                  </div>
                  <p>
                      
                    <span>{{mes.creer_message|timesince}} </span>
                    {{mes.user.username}}
                  </p>
              </a>
  
              
              <div class="roomListRoom__actions">
                {% if request.user == mes.user %}
                  <a href="{% url 'delete-message' mes.id %}">
                      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                          <title>supprimer</title>
                          <path
                              d="M27.314 6.019l-1.333-1.333-9.98 9.981-9.981-9.981-1.333 1.333 9.981 9.981-9.981 9.98 1.333 1.333 9.981-9.98 9.98 9.98 1.333-1.333-9.98-9.98 9.98-9.981z">
                          </path>
                      </svg>
                  </a>
                  {% endif %}
                 
              </div>
              
  
          </div>
          <div class="activities__boxContent">
              <p>A repondue au document <a href="{% url 'document' mes.document.id %}">”{{mes.document.noms_doc}}”</a></p>
              <div class="activities__boxRoomContent">{{mes.corp}}</div>
          </div>
      </div>
      {% endfor %}
      
      
  
  </div>

    <!-- Activities End -->
  </div>
</main>
{% endblock %}