{% load static %}

<!-- menu -->
<nav>
    <div class="containers">
        <h1 class="logo"><a href="{% url 'accueil' %}" class="text-light">WorkFlow</a></h1>
        <form action="{% url 'accueil' %}" method="GET">
            <div class="search-bar">
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                <input type="text" name="q" placeholder="recherche un suject ...">
            </div>
        </form>
        
        <div class="create">
            {% if user.avatar %}
            <div class="profile-photo">
                <a href="{% url 'modifier-profile' %}"><img src="{{user.avatar.url}}" alt="bomm"></a>
            </div>
            {% else %}
            <div class="profile-photo">
                <a href="{% url 'modifier-profile' %}"><!-- image profile--></a>
            </div>
            {% endif %}
    
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {{request.user.username}}
                </button>
            
                <ul class="dropdown-menu dropdown-menu-dark">
                 
                  {% if request.user.is_authenticated %}
                  <li><a class="dropdown-item active" href="{% url 'profile' user.id %}">Profile</a></li>
                  <li><a class="dropdown-item" href="{% url 'logout-user' %}">Deconnexion</a></li>
                  {% else %}
                  <li><a class="dropdown-item" href="{% url 'login' %}">Se connecter</a></li>
                  <li><a class="dropdown-item" href="{% url 'register' %}">Inscription</a></li>
                  {% endif %}
                 
                  
    
                </ul>
                
              </div>
        </div>
        
    </div>
       
    </nav>