{% extends 'menu/base.html' %}

{% load static %}

{% block title %}Compte et Connexion{% endblock %}

{% block content %}
{% include 'menu/navbar.html' %}
<br><br><br><br>

<main class="auth layout">

   {% if page == 'login' %}
    <div class="container">
      <div class="layout__box">
        <div class="layout__boxHeader">
          <div class="layout__boxTitle">
            <h3>Connexion</h3>
          </div>
        </div>

        {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{% if message.tags %}{{ message.tags }}{% else %}info{% endif %} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endfor %}
      {% endif %}

        <div class="layout__body">
          <h2 class="auth__tagline">Trouver un partenaire d'etude</h2>
  
          <form class="form" action="" method="POST">
            {% csrf_token %}
            <div class="form__group form__group">
              <label for="room_name">Email</label>
              <input id="username" name="email" type="email" placeholder=" entrer votre noms" />
            </div>
            <div class="form__group">
              <label for="password">Password</label>
              <input id="password" name="password1" type="password"
                placeholder="password" />
            </div>
  
            <button class="btn btn--main" type="submit">
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                <title>lock</title>
                <path
                  d="M27 12h-1v-2c0-5.514-4.486-10-10-10s-10 4.486-10 10v2h-1c-0.553 0-1 0.447-1 1v18c0 0.553 0.447 1 1 1h22c0.553 0 1-0.447 1-1v-18c0-0.553-0.447-1-1-1zM8 10c0-4.411 3.589-8 8-8s8 3.589 8 8v2h-16v-2zM26 30h-20v-16h20v16z">
                </path>
                <path
                  d="M15 21.694v4.306h2v-4.306c0.587-0.348 1-0.961 1-1.694 0-1.105-0.895-2-2-2s-2 0.895-2 2c0 0.732 0.413 1.345 1 1.694z">
                </path>
              </svg>
  
              Connexion
            </button>
          </form>
  
          <div class="auth__action">
            <p>Avez-vous deja un compte?</p>
            <a href="{% url 'register' %}" class="btn btn--link">Compte</a>
          </div>
        </div>
      </div>
    </div>
    
    {% else %}
    <br><br><br><br><br>
    <div class="container">
      <div class="layout__box">
        <div class="layout__boxHeader">
          <div class="layout__boxTitle">
            <h3>Creer un compte</h3>
          </div>
        </div>

        {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{% if message.tags %}{{ message.tags }}{% else %}info{% endif %} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endfor %}
      {% endif %}

        <div class="layout__body">
          <h2 class="auth__tagline">Trouver un partenaire d'etude</h2>
  
          <form class="form" action="" method="POST">
            
           {% csrf_token %}


           <div class="form__group">
            <label for="password">Noms</label>
            <input id="password" name="username" type="text" placeholder="entrer votre noms" />
          </div>

           <div class="form__group form__group">
            <label for="room_name">Email</label>
            <input id="username" name="email" type="email" placeholder=" entrer votre email" />
          </div>
         
          <div class="form__group">
            <label for="password">Mot de pass</label>
            <input id="password" name="password1" type="password" placeholder="entrer votre mot pass" />
          </div>

          <div class="form__group">
            <label for="password">Confirm mot de pass</label>
            <input id="password" name="password2" type="password" placeholder="confirm le mot de pass" />
          </div>
            
  
  
            <button class="btn btn--main" type="submit">
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                <title>lock</title>
                <path
                  d="M27 12h-1v-2c0-5.514-4.486-10-10-10s-10 4.486-10 10v2h-1c-0.553 0-1 0.447-1 1v18c0 0.553 0.447 1 1 1h22c0.553 0 1-0.447 1-1v-18c0-0.553-0.447-1-1-1zM8 10c0-4.411 3.589-8 8-8s8 3.589 8 8v2h-16v-2zM26 30h-20v-16h20v16z">
                </path>
                <path
                  d="M15 21.694v4.306h2v-4.306c0.587-0.348 1-0.961 1-1.694 0-1.105-0.895-2-2-2s-2 0.895-2 2c0 0.732 0.413 1.345 1 1.694z">
                </path>
              </svg>
  
              Acepter
            </button>
          </form>
  
          <div class="auth__action">
            <p>Votre compte exite deja?</p>
            <a href="{% url 'login' %}" class="btn btn--link">Connexion</a>
          </div>
        </div>
      </div>
    </div>
    
    {% endif %}
  </main>

{% endblock %}